img {
    height:200px;
    widows:160px;
    margin:2%;
    float: left;
}
* {
margin: 0%;
padding: 0%;
box-sizing: border-box;
font-family: sans-serif
}
body {
margin-top: 45px;
border-top:6px solid #2161c2;
}
 .container-all {
 width: 100%;
 max-width: 1000px; 
 margin:auto;
 padding: 125px; 
 margin-top: 100px;
border-top:6px solid #2161c2;
}
 .title {
   font-size: 40px;
   margin-bottom: 30px;
   padding-left: 30px;
}
 .sub-title{
    font-size: 30px;
    font-weight: 400;

    
}
.img{
widows: 300px;
float: left;
margin-right: 20px;
margin-bottom: 20px;
margin-right: 10px;
}
p{
 font-size: 18px;
 font-weight: 300;
 margin-top: 10px;
}


div {
    margin: 95px;

}

