h1{
    margin-top: 6%;
        margin-left: 30%;
    position:absolute;
    font-size:10px;
    font: small-caps 500%/10% serif;
    } 
    embed{
    margin-top: 15%;
}
    body {
        margin-top: 45px;
        border-top:6px solid #2161c2;
        }